{
  "openapi": "3.0.3",
  "info": {
    "title": "Mimecast Threat Intelligence & Security Stats API",
    "version": "1.0.0",
    "description": "API specification for Mimecast Threat Intelligence and Security Statistics endpoints."
  },
  "servers": [
    {
      "url": "https://api.mimecast.com"
    }
  ],
  "paths": {
    "/threats/v1/stats/gateway-detections": {
      "get": {
        "summary": "Get Gateway Detection Stats",
        "parameters": [
          {
            "name": "timestampRangeStartsAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampRangeEndsAt",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "spam",
                "malware"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detection stats retrieved successfully"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/threats/v1/stats/url-clicks": {
      "get": {
        "summary": "Get Malicious URL Click Stats",
        "parameters": [
          {
            "name": "timestampRangeStartsAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampRangeEndsAt",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "URL click stats retrieved successfully"
          }
        }
      }
    },
    "/threats/v1/stats/attachment-scans": {
      "get": {
        "summary": "Get Attachment Scan Stats",
        "parameters": [
          {
            "name": "timestampRangeStartsAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampRangeEndsAt",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attachment scan stats retrieved successfully"
          }
        }
      }
    },
    "/threats/v1/stats/impersonations": {
      "get": {
        "summary": "Get Impersonation Detection Stats",
        "parameters": [
          {
            "name": "timestampRangeStartsAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampRangeEndsAt",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Impersonation stats retrieved successfully"
          }
        }
      }
    },
    "/threats/v1/stats/phishing": {
      "get": {
        "summary": "Get Phishing Detection Stats",
        "parameters": [
          {
            "name": "timestampRangeStartsAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampRangeEndsAt",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Phishing stats retrieved successfully"
          }
        }
      }
    },
    "/threats/v1/stats/threats-by-sender": {
      "get": {
        "summary": "Get Threats by Sender",
        "parameters": [
          {
            "name": "timestampRangeStartsAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampRangeEndsAt",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Threats by sender retrieved successfully"
          }
        }
      }
    },
    "/threats/v1/stats/threats-by-recipient": {
      "get": {
        "summary": "Get Threats by Recipient",
        "parameters": [
          {
            "name": "timestampRangeStartsAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampRangeEndsAt",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Threats by recipient retrieved successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}