{
  "openapi": "3.0.3",
  "info": {
    "title": "Mimecast Threat Intelligence & Security Stats API (OAuth2)",
    "version": "2.0.0",
    "description": "API 2.0 spec for Threat Intelligence & Security Stats on api.services.mimecast.com using OAuth 2.0 Client Credentials."
  },
  "servers": [
    {
      "url": "https://api.services.mimecast.com"
    }
  ],
  "paths": {
    "/threats/v1/stats/gateway-detections": {
      "get": {
        "operationId": "getGatewayDetections",
        "summary": "Get Gateway Detection Stats",
        "parameters": [
          {
            "name": "timestampRangeStartsAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampRangeEndsAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "spam",
                "malware"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/threats/v1/stats/url-clicks": {
      "get": {
        "operationId": "getUrlClickStats",
        "summary": "Get Malicious URL Click Stats",
        "parameters": [
          {
            "name": "timestampRangeStartsAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampRangeEndsAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/threats/v1/stats/attachment-scans": {
      "get": {
        "operationId": "getAttachmentScanStats",
        "summary": "Get Attachment Scan Stats",
        "parameters": [
          {
            "name": "timestampRangeStartsAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampRangeEndsAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/threats/v1/stats/impersonations": {
      "get": {
        "operationId": "getImpersonationStats",
        "summary": "Get Impersonation Detection Stats",
        "parameters": [
          {
            "name": "timestampRangeStartsAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampRangeEndsAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/threats/v1/stats/phishing": {
      "get": {
        "operationId": "getPhishingStats",
        "summary": "Get Phishing Detection Stats",
        "parameters": [
          {
            "name": "timestampRangeStartsAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampRangeEndsAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/threats/v1/stats/threats-by-sender": {
      "get": {
        "operationId": "getThreatsBySender",
        "summary": "Get Threats by Sender",
        "parameters": [
          {
            "name": "timestampRangeStartsAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampRangeEndsAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/threats/v1/stats/threats-by-recipient": {
      "get": {
        "operationId": "getThreatsByRecipient",
        "summary": "Get Threats by Recipient",
        "parameters": [
          {
            "name": "timestampRangeStartsAt",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "timestampRangeEndsAt",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.services.mimecast.com/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ]
}