components:
  securitySchemes:
    ApiKeyAuth:
      in: header
      name: Authorization
      type: apiKey
info:
  description: Access alerts from Trend Micro Vision One
  title: Trend Micro Vision One Alerts API
  version: 1.0.0
openapi: 3.0.0
paths:
  /v3.0/alerts:
    get:
      description: Retrieve a list of alerts from Trend Micro Vision One
      operationId: getAlerts
      parameters:
      - description: Number of alerts to return
        in: query
        name: limit
        required: false
        schema:
          default: 100
          type: integer
      - description: Offset for pagination
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  alerts:
                    items:
                      properties:
                        description:
                          type: string
                        id:
                          type: string
                        severity:
                          type: string
                        timestamp:
                          format: date-time
                          type: string
                      type: object
                    type: array
                type: object
          description: A list of alerts
        '401':
          description: "Unauthorized \u2013 Invalid API key"
        '500':
          description: Internal server error
      summary: Get alerts
  /v3.0/endpoints/{endpointId}/security-status:
    get:
      description: Retrieve the security status of a specific endpoint by its ID
      operationId: getEndpointSecurityStatus
      parameters:
      - description: Unique identifier of the endpoint
        in: path
        name: endpointId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  endpointId:
                    type: string
                  lastChecked:
                    format: date-time
                    type: string
                  status:
                    type: string
                type: object
          description: Security status of the endpoint
        '401':
          description: "Unauthorized \u2013 Invalid API key"
        '500':
          description: Internal server error
      summary: Check Endpoint Security Status
  /v3.0/threat-intel/feed:
    get:
      description: Retrieve the latest threat intelligence feed
      operationId: getThreatIntelligenceFeed
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  feed:
                    items:
                      properties:
                        description:
                          type: string
                        threatId:
                          type: string
                        timestamp:
                          format: date-time
                          type: string
                        type:
                          type: string
                      type: object
                    type: array
                type: object
          description: Threat intelligence feed data
        '401':
          description: "Unauthorized \u2013 Invalid API key"
        '500':
          description: Internal server error
      summary: Get Threat Intelligence Feed
security:
- ApiKeyAuth: []
servers:
- url: https://api.xdr.trendmicro.com
