{
  "openapi": "3.0.1",
  "info": {
    "title": "Trend Vision One (Simplified for Copilot)",
    "version": "1.1.0",
    "description": "Simplified subset of Trend Micro Vision One API for Microsoft Security Copilot. Request bodies are primitive-only to improve orchestration and skill selection."
  },
  "servers": [
    {
      "url": "https://api.xdr.trendmicro.com"
    }
  ],
  "security": [
    { "bearerAuth": [] }
  ],
  "paths": {
    "/v3.0/healthcheck/connectivity": {
      "get": {
        "operationId": "CheckConnectivity",
        "summary": "Verify API connectivity and token validity",
        "responses": {
          "200": { "description": "Service reachable and token valid" }
        }
      }
    },

    /* ------------------------------
       Workbench Alerts (existing)
       ------------------------------ */
    "/v3.0/workbench/alerts": {
      "get": {
        "operationId": "ListAlerts",
        "summary": "List workbench alerts",
        "parameters": [
          {
            "name": "TMV1-Filter",
            "in": "header",
            "description": "Filter expression (optional)",
            "schema": { "type": "string" }
          },
          { "name": "startDateTime", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "endDateTime", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "orderBy", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Alerts returned", "content": { "application/json": { "schema": { "type": "object" } } } }
        }
      }
    },
    "/v3.0/workbench/alerts/{id}": {
      "get": {
        "operationId": "GetAlert",
        "summary": "Get a specific alert",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Alert details", "content": { "application/json": { "schema": { "type": "object" } } } },
          "404": { "description": "Alert not found" }
        }
      },
      "patch": {
        "operationId": "UpdateAlertStatus",
        "summary": "Update alert status and investigation result",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/UpdateAlertStatusRequest" } }
          }
        },
        "responses": {
          "204": { "description": "Updated" },
          "400": { "description": "Bad request" },
          "404": { "description": "Alert not found" }
        }
      }
    },
    "/v3.0/workbench/alerts/{alertId}/notes": {
      "post": {
        "operationId": "AddAlertNote",
        "summary": "Add a note to an alert",
        "parameters": [
          { "name": "alertId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/AddNoteRequest" } }
          }
        },
        "responses": {
          "201": { "description": "Note created" },
          "400": { "description": "Bad request" },
          "404": { "description": "Alert not found" }
        }
      }
    },

    /* ------------------------------
       Endpoint Security (added)
       ------------------------------ */
    "/v3.0/endpointSecurity/endpoints": {
      "get": {
        "operationId": "ListEndpoints",
        "summary": "List endpoints with optional filter and select",
        "parameters": [
          {
            "name": "TMV1-Filter",
            "in": "header",
            "description": "Filter expression (optional), e.g. osName eq 'Windows'",
            "schema": { "type": "string" }
          },
          { "name": "orderBy", "in": "query", "schema": { "type": "string" } },
          { "name": "top", "in": "query", "schema": { "type": "integer", "format": "int32", "minimum": 1, "maximum": 1000 } },
          { "name": "select", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Endpoints returned", "content": { "application/json": { "schema": { "type": "object" } } } }
        }
      }
    },
    "/v3.0/endpointSecurity/endpoints/{id}": {
      "get": {
        "operationId": "GetEndpointById",
        "summary": "Get endpoint details by ID",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Endpoint details", "content": { "application/json": { "schema": { "type": "object" } } } },
          "404": { "description": "Endpoint not found" }
        }
      }
    },

    /* ------------------------------
       Threat Intelligence (added)
       ------------------------------ */
    "/v3.0/threatintel/suspiciousObjects": {
      "get": {
        "operationId": "ListSuspiciousObjects",
        "summary": "List suspicious objects (domains, URLs, IPs, file hashes, sender emails)",
        "parameters": [
          {
            "name": "TMV1-Filter",
            "in": "header",
            "description": "Filter expression (optional), e.g. type eq 'url' and riskLevel eq 'high'",
            "schema": { "type": "string" }
          },
          { "name": "orderBy", "in": "query", "schema": { "type": "string" } },
          { "name": "top", "in": "query", "schema": { "type": "integer", "format": "int32", "minimum": 1, "maximum": 1000 } }
        ],
        "responses": {
          "200": { "description": "Suspicious objects returned", "content": { "application/json": { "schema": { "type": "object" } } } }
        }
      }
    },
    "/v3.0/threatintel/feeds": {
      "get": {
        "operationId": "ListThreatFeeds",
        "summary": "List threat intelligence objects/indicators",
        "parameters": [
          {
            "name": "TMV1-Contextual-Filter",
            "in": "header",
            "description": "Contextual filter (optional), for example, by type or confidence",
            "schema": { "type": "string" }
          },
          { "name": "orderBy", "in": "query", "schema": { "type": "string" } },
          { "name": "top", "in": "query", "schema": { "type": "integer", "format": "int32", "minimum": 1, "maximum": 1000 } }
        ],
        "responses": {
          "200": { "description": "Feed items returned", "content": { "application/json": { "schema": { "type": "object" } } } }
        }
      }
    },
    "/v3.0/threatintel/feeds/filterDefinition": {
      "get": {
        "operationId": "GetThreatFeedFilterDefinition",
        "summary": "Get supported filter keys/values for feeds",
        "responses": {
          "200": { "description": "Filter definition", "content": { "application/json": { "schema": { "type": "object" } } } }
        }
      }
    },
    "/v3.0/threatintel/intelligenceReports": {
      "get": {
        "operationId": "ListIntelligenceReports",
        "summary": "List custom intelligence reports",
        "responses": {
          "200": { "description": "Reports returned", "content": { "application/json": { "schema": { "type": "object" } } } }
        }
      }
    },
    "/v3.0/threatintel/intelligenceReports/{id}": {
      "get": {
        "operationId": "GetIntelligenceReport",
        "summary": "Get a specific intelligence report by ID",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Report returned", "content": { "application/json": { "schema": { "type": "object" } } } },
          "404": { "description": "Report not found" }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateAlertStatusRequest": {
        "type": "object",
        "required": ["status"],
        "properties": {
          "status": {
            "type": "string",
            "description": "New status for the alert (for example: Open, InProgress, Resolved)"
          },
          "investigationResult": {
            "type": "string",
            "description": "Plain-text summary of investigation result"
          }
        },
        "additionalProperties": false
      },
      "AddNoteRequest": {
        "type": "object",
        "required": ["content"],
        "properties": {
          "content": {
            "type": "string",
            "description": "Note text"
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supply your Trend Vision One API token as a Bearer token."
      }
    }
  }
}